@model MapFilterViewModel

@{
    ViewData["Title"] = "Mapa zgłoszeń";
}

@section Styles {
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="~/css/map.css" />
}

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" defer></script>

    <script>
        const initialPoints = @Html.Raw(ViewBag.MapPointsJson ?? "[]");
        const cordsFromFilter = @Html.Raw(ViewBag.CordinatesJson ?? "null");
    </script>
    
    <script src="~/js/main-map.js" defer></script>
}

<section class="map-section">
    <button class="map-btn">
        <i class="fa-solid fa-sliders" style="color: #78c841"></i>
        <span>Filtruj mapę</span>
        <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div class="map-filter">
        <form asp-controller="Map" asp-action="Index" method="get">
            <div class="map-filter-box">
                <label asp-for="Location">Lokalizacja</label>
                <div class="map-input-box">
                    <span><i class="fa-solid fa-location-arrow"></i></span>
                    <input asp-for="Location" type="text" placeholder="np. Kraków" />
                </div>
            </div>

            <div class="map-filter-box">
                <p class="as-label">Rodzaj wpisu</p>
                <div class="segmented">
                    <div class="segmented-box">
                        <input
                            asp-for="Type"
                            id="all"
                            type="radio"
                            name="Type"
                            value=""
                            checked="@(Model?.Type == "")"
                        />
                        <label for="all">Wszystkie</label>
                    </div>
                    
                    <div class="segmented-box">
                        <input
                            asp-for="Type"
                            id="zgłoszenie"
                            type="radio"
                            name="Type"
                            value="zgłoszenie"
                            checked="@(Model?.Type == "zgłoszenie")"/>
                        <label for="zgłoszenie">Zgłoszenia</label>
                    </div>

                    <div class="segmented-box">
                        <input
                            asp-for="Type"
                            id="doniesienie"
                            type="radio"
                            name="Type"
                            value="doniesienie"
                            checked="@(Model?.Type == "doniesienie")"/>
                        <label for="doniesienie">Doniesienia</label>
                    </div>
                </div>
            </div>

            <div class="map-filter-box-flex">
                <div class="map-filter-box">
                    <label>Status</label>
                    <select asp-for="Status">
                        <option value="" selected="@(string.IsNullOrEmpty(Model?.Status))">Wszystkie</option>
                        <option value="zaginiony" selected="@(Model?.Status == "zaginiony")">Zaginiony</option>
                        <option value="odnaleziony" selected="@(Model?.Status == "odnaleziony")">Odnaleziony</option>
                    </select>
                </div>

                <div class="map-filter-box">
                    <label>Gatunek</label>
                    <select asp-for="Species">
                        <option value="" selected="@(string.IsNullOrEmpty(Model?.Species))">Wszystkie</option>
                        <option value="pies" selected="@(Model?.Species == "pies")">Pies</option>
                        <option value="kot" selected="@(Model?.Species == "kot")">Kot</option>
                        <option value="inne" selected="@(Model?.Species == "inne")">Inne</option>
                    </select>
                </div>
            </div>

            <div class="map-filter-buttons">
                <button type="reset">Wyczyść filtry</button>
                <button type="submit">Zastosuj</button>
            </div>
        </form>
    </div>
    <div id="map" class="map"></div>
</section>
