@model List<projekt_io.Models.ChatListItemViewModel>
@{
    var counter = 1;
}

<section class="profile-section">
    <div class="table-wrapper">
        <div class="table-description">
            <p class="table-description-header">Moje Wiadomości</p>
            <p class="table-description-info">
                Przeglądaj swoje aktywne wiadomości
            </p>
        </div>
        <div class="overflow overflow-table">
            <table class="table">
                <thead>
                <tr class="table-row">
                    <th>ID</th>
                    <th>ODBIORCA WIADOMOŚCI</th>
                    <th>OSTATNIA WIADOMOŚĆ</th>
                    <th>DATA</th>
                    <th>AKCJE</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var c in Model)
                {
                    <tr class="table-row">
                        <td>@counter</td>
                        <td>@c.ReceiverLastName @c.ReceiverFirstName</td>
                        <td>@c.LastMessagePreview</td>
                        <td>@(c.LastMessageAt?.ToLocalTime().ToString("yyyy-MM-dd HH:mm") ?? "-")</td>
                        <td class="table-action-buttons">
                            <a asp-controller="Chat" asp-action="Open" asp-route-id="@c.ChatId" title="Otwórz chat">
                                <i class="fa-solid fa-angle-right fa-xl"></i>
                            </a>
                        </td>
                    </tr>
                    counter += 1;
                }
                </tbody>
            </table>
        </div>
        <div class="table-pagination table-pagination-mobile">
            <button>Poprzednie</button>
            <button>Następne</button>
        </div>
        <div class="table-pagination table-pagination-desktop">
            <p class="table-pagination-results">
                Pokazuje <span>1</span> do <span>3</span> z
                <span>12</span> wyników
            </p>
            <div>
                <ul class="table-pagination-pages">
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-left fa-xl"></i>
                        </button>
                    </li>
                    <li class="table-pagination-page-number">1</li>
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-right fa-xl"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>