@model List<projekt_io.DTOs.LostReportDto>

@{
    var counter = 1;
    var targetUserId = ViewData["TargetUserId"] as string;
    var isAdminView = (bool?)ViewData["IsAdminView"] ?? false;
}

@await Component.InvokeAsync("ConfirmModal", new ConfirmModalViewModel() {
    Id = "changeReportStatus",
    Title = "Czy na pewno chcesz zmienić status zgłoszenia?",
    Action= "ChangeStatus",
    Controller = "LostReport",
    ConfirmText = "Potwierdź",
    CancelText = "Anuluj"
})

@await Component.InvokeAsync("ConfirmModal", new ConfirmModalViewModel() {
    Id = "deleteReport",
    Title = "Czy na pewno chcesz usunąć ogłoszenie?",
    Action= "Delete",
    Controller = "LostReport",
    ConfirmText = "Potwierdź",
    CancelText = "Anuluj"
})

<section class="profile-section">
    <div class="table-wrapper">
        <div class="table-description">
            <p class="table-description-header">Moje Zgłoszenia</p>
            <p class="table-description-info">
                Zarządzaj i przeglądaj status swoich aktywnych zgłoszeń
            </p>
        </div>
        <div class="overflow overflow-table">
            <table class="table">
                <thead>
                <tr class="table-row">
                    <th>ID</th>
                    <th>DANE</th>
                    <th>LOKALIZACJA</th>
                    <th>DATA</th>
                    <th>STATUS</th>
                    <th>AKCJE</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var report in Model) {
                    <tr class="table-row">
                        <td>#@counter</td>
                        <td>
                            <div>
                                <p class="table-type-header">Zaginiony/a @report.Animal.Species</p>
                                <p class="table-type-muted">Rasa: @(report.Animal.Breed ?? "Nie podano")</p>
                            </div>
                        </td>
                        <td>@(report.Location.City ?? "-")</td>
                        <td>@report.LostAt</td>
                        @if (@report.Status == "zaginiony") {
                            <td><span class="status bad">@report.Status</span></td>
                        }
                        else {
                            <td><span class="status good">@report.Status</span></td>
                        }
                        @if (!isAdminView) {
                            <td class="table-action-buttons">
                                <a asp-controller="LostReport" asp-action="Edit" asp-route-id="@report.Id" title="Edytuj zgłoszenie">
                                    <i class="fa-solid fa-pen fa-xl"></i>
                                </a>
                                @if (@report.Status == "zaginiony") {
                                    <button data-modal-open="changeReportStatus" data-value="@report.Id" title="Oznacz jako odnalezione">
                                        <i class="fa-solid fa-check fa-xl"></i>
                                    </button>
                                }
                            </td>
                        } else {
                            <td class="table-action-buttons">
                                <button data-modal-open="deleteReport" data-value="@report.Id" data-user="@targetUserId" title="Usuń zgłoszenie">
                                    <i class="fa-solid fa-trash fa-xl"></i>
                                </button>
                            </td>
                        }
                    </tr>
                    counter += 1;
                }
                </tbody>
            </table>
        </div>
        <div class="table-pagination table-pagination-mobile">
            <button>Poprzednie</button>
            <button>Następne</button>
        </div>
        <div class="table-pagination table-pagination-desktop">
            <p class="table-pagination-results">
                Pokazuje <span>1</span> do <span>3</span> z
                <span>12</span> wyników
            </p>
            <div>
                <ul class="table-pagination-pages">
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-left fa-xl"></i>
                        </button>
                    </li>
                    <li class="table-pagination-page-number">1</li>
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-right fa-xl"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@if (TempData["success"] != null || TempData["error"] != null) {
    <section class="notifications">

        @if (TempData["success"] != null) {
            <div class="notification notification-success">
                <i class="fa-solid fa-circle-check fa-xl" style="color: #fff"></i>
                <span>@TempData["success"]</span>
            </div>
        }

        @if (TempData["error"] != null) {
            <div class="notification notification-error">
                <i class="fa-solid fa-circle-xmark fa-xl" style="color: #fff"></i>
                <span>@TempData["error"]</span>
            </div>
        }
    </section>
}
