@model List<projekt_io.DTOs.LostReportDto>

@{
    var counter = 1;
}

<section class="profile-section">
    <div class="table-wrapper">
        <div class="table-description">
            <p class="table-description-header">Moje Zgłoszenia</p>
            <p class="table-description-info">
                Zarządzaj i przeglądaj status swoich aktywnych zgłoszeń
            </p>
        </div>
        <div class="overflow overflow-table">
            <table class="table">
                <thead>
                <tr class="table-row">
                    <th>ID</th>
                    <th>TYP ZGŁOSZENIA</th>
                    <th>Lokalizacja</th>
                    <th>DATA</th>
                    <th>AKCJE</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var report in Model) {
                    <tr class="table-row">
                        <td>#@counter</td>
                        <td>
                            <div>
                                <p class="table-type-header">Zaginiony/a @report.Animal.Species</p>
                                <p class="table-type-muted">Rasa: @(report.Animal.Breed ?? "Nie podano")</p>
                            </div>
                        </td>
                        <td>@(report.Location.City ?? "-")</td>
                        <td>@report.LostAt</td>
                        <td class="table-action-buttons">
                            <a asp-controller="LostReport" asp-action="Edit" asp-route-id="@report.Id">
                                <i class="fa-solid fa-pen fa-xl"></i>
                            </a>
                            <button>
                                <i class="fa-solid fa-check fa-xl"></i>
                            </button>
                        </td>
                    </tr>
                    counter += 1;
                }
                </tbody>
            </table>
        </div>
        <div class="table-pagination table-pagination-mobile">
            <button>Poprzednie</button>
            <button>Następne</button>
        </div>
        <div class="table-pagination table-pagination-desktop">
            <p class="table-pagination-results">
                Pokazuje <span>1</span> do <span>3</span> z
                <span>12</span> wyników
            </p>
            <div>
                <ul class="table-pagination-pages">
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-left fa-xl"></i>
                        </button>
                    </li>
                    <li class="table-pagination-page-number">1</li>
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-right fa-xl"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>