@model List<projekt_io.DTOs.SightingDto>

@{
    var counter = 1;
    var targetUserId = ViewData["TargetUserId"] as string;
    var isAdminView = (bool?)ViewData["IsAdminView"] ?? false;
}

@await Component.InvokeAsync("ConfirmModal", new ConfirmModalViewModel() {
    Id = "deleteSighting",
    Title = "Czy na pewno chcesz usunąć doniesienie?",
    Action= "Delete",
    Controller = "Sighting",
    ConfirmText = "Potwierdź",
    CancelText = "Anuluj"
})

<section class="profile-section">
    <div class="table-wrapper">
        <div class="table-description">
            <p class="table-description-header">Moje Doniesienia</p>
            <p class="table-description-info">
                Przeglądaj swoje doniesienia
            </p>
        </div>
        <div class="overflow overflow-table">
            <table class="table">
                <thead>
                <tr class="table-row">
                    <th>ID</th>
                    <th>ZAUWAŻONE ZWIERZE</th>
                    <th>LOKALIZACJA</th>
                    <th>DATA OBSERWACJI</th>
                    <th>CZAS OBSERWACJI</th>
                    <th>AKCJE</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var sighting in Model) {
                    <tr class="table-row">
                        <td>#@counter</td>
                        <td>
                            <div>
                                <p class="table-type-header">@sighting.LostReport.Animal.Species</p>
                                <p class="table-type-muted">Rasa: @(sighting.LostReport.Animal.Breed ?? "Nie podano")</p>
                            </div>
                        </td>
                        <td>@(sighting.Location.City ?? "-")</td>
                        <td>@sighting.SeenDate</td>
                        <td>@sighting.SeenTime.ToString("HH:mm")</td>
                        @if (!isAdminView) {
                            <td class="table-action-buttons">
                                <a asp-controller="Sighting" asp-action="Edit" asp-route-id="@sighting.Id" title="Edytuj doniesienie">
                                    <i class="fa-solid fa-pen fa-xl"></i>
                                </a>
                            </td>
                        }
                        else {
                            <td class="table-action-buttons">
                                <button type="button" data-modal-open="deleteSighting" data-value="@sighting.Id" data-user="@targetUserId" title="Usuń doniesienie">
                                    <i class="fa-solid fa-trash fa-xl"></i>
                                </button>
                            </td>
                        }
                        
                    </tr>
                    counter += 1;
                }
                </tbody>
            </table>
        </div>
        <div class="table-pagination table-pagination-mobile">
            <button>Poprzednie</button>
            <button>Następne</button>
        </div>
        <div class="table-pagination table-pagination-desktop">
            <p class="table-pagination-results">
                Pokazuje <span>1</span> do <span>3</span> z
                <span>12</span> wyników
            </p>
            <div>
                <ul class="table-pagination-pages">
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-left fa-xl"></i>
                        </button>
                    </li>
                    <li class="table-pagination-page-number">1</li>
                    <li>
                        <button>
                            <i class="fa-solid fa-angle-right fa-xl"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@if (TempData["success"] != null || TempData["error"] != null) {
    <section class="notifications">

        @if (TempData["success"] != null) {
            <div class="notification notification-success">
                <i class="fa-solid fa-circle-check fa-xl" style="color: #fff"></i>
                <span>@TempData["success"]</span>
            </div>
        }

        @if (TempData["error"] != null) {
            <div class="notification notification-error">
                <i class="fa-solid fa-circle-xmark fa-xl" style="color: #fff"></i>
                <span>@TempData["error"]</span>
            </div>
        }
    </section>
}
