@model AdminPanelViewModel

@{
  ViewData["Title"] = "Panel Administratora";

  var userNumber = 1;
}

@section Styles {
  <link rel="stylesheet" href="~/css/main.css" />
  <link rel="stylesheet" href="~/css/user-page.css" />
  <link rel="stylesheet" href="~/css/home.css" />
  <link rel="stylesheet" href="~/css/admin.css" />
}

@section Scripts {
  <script src="~/js/confirm-modal.js" defer></script>
  <script src="~/js/roles-modal.js" defer></script>
}

@await Component.InvokeAsync("ConfirmModal", new ConfirmModalViewModel() {
  Id = "deleteUserModal",
  Title = "Czy na pewno chcesz usunąć użytkownika?",
  Action= "Delete",
  Controller = "Admin",
  ConfirmText = "Potwierdź",
  CancelText = "Anuluj"
})

@await Component.InvokeAsync(name: "ConfirmModal", new ConfirmModalViewModel() {
  Id = "blockUserModal",
  Title = "Czy na pewno chcesz zablokować użytkownika?",
  Action = "BlockUser",
  Controller = "Admin",
  ConfirmText = "Potwierdź",
  CancelText = "Anuluj"
})

@await Component.InvokeAsync("RolesModal", new RolesModalViewModel() {
  Id = "manageRolesModal",
  Title = "Edytuj role użytkownika",
  Action = "UpdateRoles",
  Controller = "Admin"
})

<div class="heading-box">
  <h1 class="header">Panel administratora</h1>
  <p class="header-info">Lista Użytkowników</p>
</div>

@if (Model.Users.Count > 0) { 
  <div class="searchbar">
    <form class="search" action="">
      <div class="input-box">
        <label>Czego szukasz?</label>
        <input type="text" placeholder="Wprowadź nazwę użytkownika"/>
      </div>
      <div class="searchbar-btn">
        <button class="btn btn-search">Szukaj</button>
        <button class="btn btn-reset">
          <i class="fa-solid fa-xmark fa-2xl" style="color: #ff9b2f"></i>
        </button>
      </div>
    </form>
  </div>
}

<section>
  <p class="admin-panel-mobile">
    Lista użytkowników nie jest obsługiwana w wersji mobilnej.
  </p>
  @if (Model.Users.Count > 0) { 
    <div class="admin-panel">
    
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nazwa użytkownika</th>
            <th>Email</th>
            <th>Status konta</th>
            <th>Role</th>
            <th>Akcje</th>
          </tr>
        </thead>
      
        <tbody>
        @foreach (var user in Model.Users) {
          <tr data-id="@user.Id">
            <td>@userNumber</td>
            <td id="full-name">@user.FirstName @user.LastName</td>
            <td>@user.Email</td>
            @if (@user.Blocked) {
              <td>Zablokowany</td>
            } else {
              <td>Aktywny</td>
            }
            <td>
              @foreach (var role in user.Roles) {
                <span>@role </span>
              }
            </td>
            <td>
              <button class="btn-admin-delete" data-modal-open="deleteUserModal" data-value="@user.Id" title="Usuń użytkownika">
                <i
                  class="fa-solid fa-trash fa-xl"
                  style="color: #fb4141"></i>
                <i
                  class="fa-solid fa-trash fa-2xl"
                  style="color: #fb4141"></i>
              </button>
              <a class="btn-admin-profile" title="Profil użytkownika">
                <i class="fa-solid fa-user fa-xl" style="color: #a2a2a2"></i>
                <i class="fa-solid fa-user fa-2xl" style="color: #a2a2a2"></i>
              </a>
              <button class="btn-admin-block" data-modal-open="blockUserModal" data-value="@user.Id" title="Zablokuj użytkownika">
                <i class="fa-solid fa-ban fa-xl" style="color: #ff9b2f"></i>
                <i class="fa-solid fa-ban fa-2xl" style="color: #ff9b2f"></i>
              </button>
              <button class="btn-admin-edit" data-role-modal-open="manageRolesModal" data-value="@user.Id" data-roles="@string.Join(",", user.Roles)">
                <i class="fa-solid fa-pen-to-square fa-xl"></i>
                <i class="fa-solid fa-pen-to-square fa-2xl"></i>
              </button>
            </td>
          </tr>
          userNumber = userNumber + 1;
        }
        </tbody>
      </table>
    </div>
  }
</section>

@if (Model.Users.Count > 0) { 
  <section>
    <div class="pagination-menu">
      <button>
        <i class="fa-solid fa-angle-left fa-2xl" style="color: #000"></i>
      </button>
      <ul class="pagination-list">
        <li class="selected">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>...</li>
        <li>10</li>
      </ul>
      <button>
        <i class="fa-solid fa-angle-right fa-2xl" style="color: #000"></i>
      </button>
    </div>
  </section>
}

@if (TempData["success"] != null || TempData["error"] != null) {
  <section class="notifications">

    @if (TempData["success"] != null) {
      <div class="notification notification-success">
        <i class="fa-solid fa-circle-check fa-xl" style="color: #fff"></i>
        <span>@TempData["success"]</span>
      </div>
    }

    @if (TempData["error"] != null) {
      <div class="notification notification-error">
        <i class="fa-solid fa-circle-xmark fa-xl" style="color: #fff"></i>
        <span>@TempData["error"]</span>
      </div>
    }

  </section>
}
